<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>PREDICT</title>


    <!-- <style>
        body {
            background-image: url();
        }
    </style> -->

</head>

<body>

    <!-- <img src="./img/wangye.jpg" class="img-responsive" alt="Cinque Terre" width="100" height="100"> -->
    <h1 class="text-center">产后出血症预测系统</h1>
    <h4 class="text-center">Postpartum Hemorrhage Prediction System</h4>

    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="home.html">主页<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{url_for('login')}}">登录</a></li>
                    <li><a href="{{url_for('register')}}">注册</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        欢迎使用产后出血症预测系统！
                    </h1>
                    <p>
                        怀孕是一种生理过程，为正常胎儿的生长和随后的分娩提供了必要的条件。然而，即使在看似正常的孕妇中，也可能发生生理紊乱，导致围产期并发症，如产后出血、妊娠期糖尿病和产后抑郁等。及时进行早期预测并采取相应的解决方案可以减少对母亲和后代健康的负面影响。本系统基于神经网络结合决策树，确保预测准确的同时提高可解释性。
                    </p>
                    <p>
                        提示：请先登录，登录后跳转预测页面；若没有注册请先注册。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">



    </div>
    <!-- /container -->


    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>



</body>

</html>